body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

*,
*::before,
*::after {
  box-sizing: border-box; }

main {
  width: 100vw;
  height: 100vh;
  background-color: #f6f2de; }

.cards-list {
  position: relative;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  display: flex;
  transition: background-color 0.5s; }
  .cards-list.overlay {
    background-color: #e9e6d3; }

.card {
  counter-increment: countCard;
  position: absolute;
  background-color: #ffffff;
  min-width: 400px;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .card__count {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    border: 4px solid black;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; }
    .card__count::before {
      content: counter(countCard); }
  .card--wide {
    width: calc(100% - 120px);
    max-width: 960px; }
  .card--wide:not(:last-child) {
    max-width: 400px; }
  .card:not(:first-child) {
    margin-left: 60px; }
  .card:first-child, .card:last-child {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
  .card:last-child {
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2), 4px 0 8px rgba(0, 0, 0, 0.2); }

.error-box {
  z-index: 100;
  cursor: pointer;
  margin: 0px auto;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: #8e1700;
  color: white;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  font-size: 18px; }


/*# sourceMappingURL=style.css.map*/